data/*
**/__pycache__/
.venv/
/eval/output
/eval/predictions
/eval/sgg
/gen/output
/gen/checkpoints
/gen/samples
/gen/sd15_img2img_manual.py.from-bkp-20251019
/gen/sgg_sampler.py.from-bkp-20251019
/eval/sgg_experiments